[submodule "partner-routes-map-oin"]
	path = partner-routes-map-oin
	url = git@github.com:xmarts/partner-routes-map-oin.git
[submodule "sale-routes-map-oin"]
	path = sale-routes-map-oin
	url = git@github.com:xmarts/sale-routes-map-oin.git
[submodule "stock-routes-map-oin"]
	path = stock-routes-map-oin
	url = git@github.com:xmarts/stock-routes-map-oin.git
[submodule "credit_limit_alert_update"]
	path = credit_limit_alert_update
	url = git@github.com:xmarts/credit_limit_alert_update.git
[submodule "bi-pos-warehouse-management"]
	path = bi-pos-warehouse-management
	url = git@github.com:xmarts/bi-pos-warehouse-management.git

[submodule "auto-payment-method"]
	path = auto-payment-method
	url = git@github.com:xmarts/auto-payment-method.git
	branch = master
[submodule "l10n-mx-pos-global-invoice"]
	path = l10n-mx-pos-global-invoice
	url = git@github.com:xmarts/l10n-mx-pos-global-invoice.git
[submodule "pos-stocks"]
	path = pos-stocks
	url = git@github.com:xmarts/pos-stocks.git
[submodule "pos-orders-list"]
	path = pos-orders-list
	url = git@github.com:xmarts/pos-orders-list.git
